.left-talent-tit-cont {
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    font-family: 'Poppins', sans-serif;
}

.left-talent-desc-width {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    width: 320px;
}

.left-talent-desc-cont {
    padding-top: 24px;
    padding-bottom: 24px;
}

.sign-ups-cont a {
    text-decoration: none;
}

.sign-ups a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.right-sign-ups a {
    text-decoration: none;
}

.arrow {
    width: 20px;
    height: 20px;
}

.sign-ups-cont {
    display: flex;
    padding-bottom: 10px;
}

.sign-ups {
    padding-right: 10px;
}

.ima1 {
    width: 289px;
    height: 334.67px;
}

.images2 {
    width: 311.67px;
    height: 380px;
}

.talent-container {
    display: flex;
    padding: 0px 15px 0px 15px;
    justify-content: center;
    width: 100%;
    gap: 150px;
}

.left-descs {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.right-imgs {
    width: 50%;
}

@media only screen and (max-width: 1150px) {
    .talent-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 150px;
    }
    .left-descs {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .right-imgs {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sign-ups-cont {
        display: flex;
        padding-bottom: 10px;
    }
    .sign-ups {
        padding-right: 10px;
    }
}

@media only screen and (max-width: 500px) {
    .left-talent-tit-cont {
        font-size: 25px;
    }
    .talent-container {
        width: 100%;
        gap: 124px;
    }
    .left-talent-desc-width {
        font-size: 13px;
        width: 320px;
    }
    .sign-ups a {
        text-decoration: none;
        font-size: 13px;
    }
}

.right-arrow {
    display: flex;
    align-items: center;
}